{% extends 'base.html' %}
{% block content %}
<style>
/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
</style>
<h1>Preventivatore Trasporti</h1>

<form method="post">
    {% csrf_token %}

    <h2>Spedizione</h2>
    {{ form.as_p }}

    {% for supp in supplementi_disponibili %}
        {% if supp.tipo_servizio.codice not in "ASSIC,CONTR,FUELS,PEAKS" %}
        <label>
            <input type="checkbox" name="supplementi_selezionati" value="{{ supp.id }}"
                   {% if supp.id|stringformat:"s" in ids_selezionati %}checked{% endif %}>
            {{ supp.nome }}
        </label>
        {% endif %}
    {% endfor %}


    <h2>Pacchi</h2>

    {{ formset.management_form }}

    <table border="1">
        <thead>
            <tr>
                <th>Peso (Kg)</th>
                <th>Larghezza (cm)</th>
                <th>Profondità (cm)</th>
                <th>Altezza (cm) </th>

            </tr>
        </thead>

        <tbody>
        {% for f in formset %}
            <tr>
                <td>{{ f.peso_kg }}</td>
                <td>{{ f.larghezza_cm }}</td>
                <td>{{ f.profondita_cm }}</td>
                <td>{{ f.altezza_cm }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>



    <button type="submit" name="action" value="simulate" class="btn btn-primary">
        Simula preventivi
    </button>




    {% if preventivi %}
    <hr>

    <h2>Preventivi disponibili</h2>

    <ul>
        {% for p in preventivi %}
            <li style="{% if p.best %}background:#d4edda; font-weight:bold;{% endif %} padding:10px; margin-bottom:10px;">

                <strong>{{ p.trasportatore }}  {{ p.totale_con_iva_euro|floatformat:2 }} € </strong>

                {% if p.best %}
                    ⭐ Miglior prezzo
                {% endif %} -
                {% if p.dettaglio %}
    Dettaglio:
    <div style="margin-top:5px; font-size: 0.9em; border-left: 2px solid #ddd; padding-left: 10px;">

        {% if p.dettaglio.items %}
            {% for riga in p.dettaglio.items %}
                <strong>{{ riga.label|safe }}:</strong> {{ riga.value|safe }}<br>

            {% endfor %}
        {% else %}
            <strong>Peso reale:</strong> {{ p.dettaglio.peso_reale|floatformat:2 }} kg<br>
            <strong>Peso volume:</strong> {{ p.dettaglio.peso_volume|floatformat:2 }} kg<br>
            <strong>Peso tassabile:</strong> {{ p.dettaglio.peso_tassabile|floatformat:2 }} kg<br>
        {% endif %}

    </div>
{% endif %}


                <button
                        type="submit"
                        name="action"
                        value="confirm"
                        formaction=""
                        onclick="
                        this.form.trasportatore.value='{{ p.trasportatore }}';
                        this.form.prezzo.value='{{ p.prezzo|floatformat:2 }}';
                        this.form.zona_tariffazione_id.value='{{ p.zona_tariffazione_id }}';">
                    Conferma preventivo e salva spedizione
                </button>
            </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="trasportatore">
    <input type="hidden" name="prezzo">
    <input type="hidden" name="zona_tariffazione_id">
{% endif %}

    <br>
    <br>
    NOTA 1. <br>
    il supplemento codice "PEAKS" di peak season va creato prima della creazione delle spedizioni  <br>
    (se no il suo id non sarà incluso nella lista dei supplementi della spedizione)  <br>
    questi sono i 4 codici dei 4 supplementi "automatici" in fase di creazione:  <br>
    FUELS  <br>
    PEAKS  <br>
    ASSIC  <br>
    CONTR  <br>

    {% endblock %}