<form method="post">
    {% csrf_token %}

    <h2>Spedizione</h2>
    {{ form.as_p }}

    <h2>Pacchi</h2>

    {{ formset.management_form }}

    <table border="1">
        <thead>
            <tr>
                <th>Altezza</th>
                <th>Larghezza</th>
                <th>Profondità</th>
                <th>Peso</th>
                <th>Elimina</th>
            </tr>
        </thead>

        <tbody>
        {% for f in formset %}
            <tr>
                <td>{{ f.altezza_cm }}</td>
                <td>{{ f.larghezza_cm }}</td>
                <td>{{ f.profondita_cm }}</td>
                <td>{{ f.peso_kg }}</td>
                <td>{{ f.DELETE }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="submit" name="action" value="simulate">
        Simula preventivi
    </button>



    {% if preventivi %}
    <hr>

    <h2>Preventivi disponibili</h2>

    <ul>
        {% for p in preventivi %}
            <li style="{% if p.best %}background:#d4edda; font-weight:bold;{% endif %} padding:10px; margin-bottom:10px;">

                <strong>{{ p.trasportatore }}  {{ p.prezzo|floatformat:2 }} € </strong>

                {% if p.best %}
                    ⭐ Miglior prezzo
                {% endif %} -
                {% if p.dettaglio %}
    Dettaglio:
    <div style="margin-top:5px; font-size: 0.9em; border-left: 2px solid #ddd; padding-left: 10px;">

        {% if p.dettaglio.items %}
            {% for riga in p.dettaglio.items %}
                <strong>{{ riga.label }}:</strong> {{ riga.value|safe }}<br>
            {% endfor %}
        {% else %}
            <strong>Peso reale:</strong> {{ p.dettaglio.peso_reale|floatformat:2 }} kg<br>
            <strong>Peso volume:</strong> {{ p.dettaglio.peso_volume|floatformat:2 }} kg<br>
            <strong>Peso tassabile:</strong> {{ p.dettaglio.peso_tassabile|floatformat:2 }} kg<br>
        {% endif %}

    </div>
{% endif %}

                <button type="submit"
                        name="action"
                        value="confirm"
                        formaction=""
                        onclick="this.form.trasportatore.value='{{ p.trasportatore }}'; this.form.prezzo.value='{{ p.prezzo|floatformat:2 }}'">
                    Conferma preventivo e salva spedizione
                </button>

            </li>
        {% endfor %}
    </ul>
 GLS:
    Lunghezza per collo max cm 300, supplemento OVERSIZED a partire da cm 120.
Peso per collo max KG 30, supplemento OVERSIZED per colli non macchinabil
    <input type="hidden" name="trasportatore">
    <input type="hidden" name="prezzo">
{% endif %}